{% extends 'base.html.twig' %}

{% block title %}Mood{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-5 text-center">Mood</h1>
    <div class="container mood_div">
        <table class="table table-bordered">
            <tbody>

                
                <tr>
                    <td colspan="3" class="text-center"><h1>{{ mood.name }}</h1></td>
                </tr>
                {% for music in music %}
                    <tr>
                        <td>{{ music.title }}</td>
                        <td class="text-center">
                            <a href="{{ music.url }}" target="_blank">
                                <i class="fab fa-youtube fa-2x text-danger"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="{{ path('app_music_show', {'id': music.id}) }}" class="btn btn-primary">Regardez les commentaires &raquo;</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <a class="btn btn-secondary" href="{{ path('app_mood_index') }}">&lsaquo; Retour à la liste</a>
        </div>
    </div>
{% endblock %}