{% extends 'base.html.twig' %}

{% block title %}Mood{% endblock %}

{% block body %}
    <h1>Mood</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mood.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ mood.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mood_index') }}">Back to list</a>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Url</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for music in music %}
                    <tr>
                        <td>{{ music.id }}</td>
                        <td>{{ music.title }}</td>
                        <td>{{ music.url }}</td>
                        <td>
                            <a href="{{ path('app_music_show', {'id': music.id}) }}">Show</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
