{% extends 'base.html.twig' %}

{% block title %}Mood{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-5 text-center">Mood</h1>
    <div class="container">
        <table class="table table-borderless ">
        <tbody>
            <tr>
                <th>Mood</th>
                <td>{{ mood.name }}</td>
            </tr>
        </tbody>
    </table>


    <div>
        <table class="table table-borderless">
            <tbody>
                {% for music in music %}
                    <tr>
                        <td>{{ music.title }}</td>
                        <td> <a href="{{ music.url }}"  target="_blank"><i class="fa-brands fa-youtube  fa-2xl" style="color: red;"></i></i></a></td>
                        <td>
                            <a class="a_mood" href="{{ path('app_music_show', {'id': music.id}) }}">Let's GO 	&raquo;</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <a class="a_mood" href="{{ path('app_mood_index') }}">Back to list</a>
    </div>
</div>
{% endblock %}
