{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-5 text-center">Liste des commentaires</h1>
    <div class="container mood_div">
        <table class="table table-borderless ">
            <thead>
                <tr>
                    <th>Content</th>
                    <th>Date</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="text-center actions_mood">
                        <a href="{{ path('app_admin_comment_show', {'id': comment.id}) }}" class="text-light">détail</a>
                        <a href="{{ path('app_admin_comment_edit', {'id': comment.id}) }}" class="text-light">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            <div class="text-center btn_act">
            <a href="{{ path('app_admin_comment_new') }}" class="btn mt-3">Créer</a>
            </div>
    </div>
{% endblock %}
